.App {
  /* VAR DECLARATION */
  --dark-bg: #140d36;
  --dark-main: #1d1449;
  --main: #fa6e03;
  --light-main: #e0e0e1;

  background-color: var(--dark-bg);
  color: var(--light-main);

  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 0px 24px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
